@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Francois+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "baloo 2", cursive;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
  font-family: "baloo 2", cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
}
nav h1 {
  font-family: "Francois One", sans-serif;
  color: #191958;
  font-size: 4em;
}
nav h1::before {
  content: url(images/penguin1.svg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  border: 2px solid #191958;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 1.5em;
  font-weight: bolder;
  color: #191958;
}

main #t-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #t-line a {
  padding: 15px 50px;
}
main #t-line * {
  padding: 25px;
}
main h2 {
  color: #32bae7;
  font-size: 3em;
  font-weight: bolder;
}
main #s-blue {
  font-size: 2em;
  padding: 10px;
}
main h3 {
  color: #191958;
  font-size: 2.2em;
  font-weight: bolder;
}
main p {
  color: #191958;
  font-size: 1.3em;
}
main #button-2 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
main #button-2 a {
  padding: 10px 50px;
}

#here-find {
  margin: 25px;
}

.find-d {
  display: flex;
  align-items: center;
  margin: 15px;
}

.find-start {
  font-weight: bolder;
  font-size: 1.2em;
}

.button {
  background-color: #191958;
  border-radius: 8px;
  font-weight: bolder;
}