@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Francois+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "baloo 2", cursive;
}

nav h1 {
  font-family: "Francois One", sans-serif;
}