* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header {
    justify-content: space-between;
}

#Nology {
    background-color: green;
    font-size: 0.5em;
    height: 30px;
    width: 100px;
    align-items: center;
    text-align: center;
}

a {
    color: white;
    padding: 50px;
    
}