* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header, header * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

header {
    justify-content: space-between;
    background-color: black;
    color: white;
}

#Nology {
    background-color: green;
    font-size: 0.5em;
    text-align: center;
    width: 85px;
}

a {
    color: white;
    height: 50px;
    width: 75px;

}

.list1 {
    padding: 50px;
}

a:hover {
    background-color: gray;
    color: blue;
}


